html,body{
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
	background: #00ACF6;
}

/*第一页*/
.bg{
	width: 100%;
	height: 100%;
	/*height: 667px;*/
	/*background:url('../img/lineTwo.png')  no-repeat;*/
	background-repeat: no-repeat;
	background-size:100% 100%;
	z-index: 2;
}

.middle{
	margin: auto;
	width: 100%;
	height: 100%;
}	

.tel{
	width: 100%;
	height:38.6%;
	top:11.2%;
	left:0;
	position: absolute;
}
.interface{
	width: 100%;
	height: 40%;
	top:58%;
	left:0;
	position: absolute;
}


.button{
	width:18%;
	height:12%;
	position: absolute;
	top:74.5%;
	left:15%;
}
.p{
	/*position: absolute;;*/
	top:78.5%;
	font-family: "微软雅黑";
	font-weight: bold;
	height: 12%;
	font-size:0.21rem;
	left:36%;
	animation: shine_P_0_3 3s infinite linear;
	margin-left: 14px;
	background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.6) 40%, #FFF 50%, rgba(0, 0, 0, 0.6) 60%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
}

@keyframes shine_P_0_3{
	0%{background-position: 100%;}
	100%{background-position:0;}

}




/*第二页*/
.swiper-container{
	height: 100%;
}
.card{
	width: 100%;
	height: 100%;
	background-size:100% 100%;
	
}
.swiper-pagination-bullet{
	background: #fff;
}





/*第三页*/
.content{
	width:100%;
	height:100%;
	background: #00ACF6;
	overflow: hidden;
}
.phone{
	width:100%;
	height:78%;
	margin: auto;
	/*margin-top:30px;*/

}
.phone>img{
	width: 100%;
	/*height:70%;*/
}
button{
	width: 64%;
	height: 8.3%;
	color:#fff;
	background:#00D846;
	outline: none;
	border: none;
	font-size:0.21rem;
	margin-bottom: 10px;
}
.dowload{
	background: #0065ED;
}

@media all and (max-width: 320px){
	p{
		left:34%;
	}
	#label{
		height: 63%!important;
		width: 23%!important;
	}
	#slider{
		padding:16px 22px 57px 47px!important;
	}
	.p{
		font-size: 0.2rem;
	}
}

