html,body{
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
	background: #00ACF6;
	position:fixed;
}

/*第一页*/
.bg{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size:100% 100%;
	z-index: 2;

}
.middle{
	margin: auto;
	width: 100%;
	height: 100%;
}	
.tel{
	width: 100%;
	height:38.6%;
	top:11.2%;
	left:0;
	position: absolute;
}
.ding{
	position: absolute;
	width: 88%;
	top:40%;
	left:13%;
}

.button{
	width:18%;
	height:12%;
	position: absolute;
	top:74.5%;
	left:15%;
}
.p{
	top:78.5%;
	font-family: "微软雅黑";
	font-weight: bold;
	height: 12%;
	font-size:0.21rem;
	left:36%;
	animation: shine_P_0_3 3s infinite linear;
	margin-left:12%;
	background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.6) 40%, #FFF 50%, rgba(0, 0, 0, 0.6) 60%);
	-webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
}
@keyframes shine_P_0_3{
	0%{background-position: 100%;}
	100%{background-position:0;}
}
.interface-box{
	position: absolute;
	bottom: 0;
	width: 100%;
	/*min-height: 200px;*/
}
.interface{
	display: block;
	max-width: 100%;
}

.slider-box{
	position: absolute;
	bottom: 90px;
	width: 70%;
	left: 50%;
	transform:translate(-50%,0);
}
.my-slider{
	/*// background: linear-gradient(to top right,#fff, #56AED5 50%,#fff) !important*/;
	background: linear-gradient(-60deg, #fff, #56AED5 50%, #fff);
	/*line-height: 20px !important;*/
	border-radius: 40px !important;
	padding: 20px 0 20px 10px !important;
}

#label{
	width: 60px;
	height: 60px;
	background-color: transparent !important;
}

/*第二页*/
.swiper-container{
	height: 100%;
}
.card{
	width: 100%;
	height: 100%;
	background-size:100% 100%;
	
}
.swiper-pagination-bullet{
	background: #fff;
}
#arrow{
	width: 17%;
	position: absolute;
	bottom:0;
	right:5%;
	animation: arrow 1s infinite;
}
@keyframes arrow {
	0%{right: 5%;}
	100%{right: 0;}
} 


/*第三页*/
.content{
	width:100%;
	height:100%;
	background: #00ACF6;
	overflow: hidden;
}
.phone{
	width:100%;
	height:78%;
	margin: auto;

}
.phone>img{
	width: 100%;
	/*height:70%;*/
}
button{
	width: 64%;
	height: 8.3%;
	color:#fff;
	background:#00D846;
	outline: none;
	border: none;
	font-size:0.21rem;
	margin-bottom: 10px;
}
.dowload{
	background: #0065ED;
}

@media all and (max-width: 320px){	
	.slider-box{
		bottom: 65px;
	}
	.my-slider{
		// line-height: 10px !important;
	}
	.p{
		font-size: 0.18rem;
		margin-left: 50px;
	}
	.phone>img{
		height: 125%;	
	}
}

